<!DOCTYPE html>
<html lang="en">

<div class="project-page">Login page</div>
<div class="project-page-center">
	<div class="project-page-image" id="captionb-login"></div>
</div>
<div class="project-page">main page</div>
<div class="project-page-center">
	<div class="project-page-image" id="captionb-main"></div>
</div>
<div class="project-page">Card page</div>
<div class="project-page-center">
	<div class="project-page-image" id="captionb-card"></div>
</div>