<!DOCTYPE html>
<html lang="en">

<div class="project-page">Recognising Face</div>
<div class="project-page-center">
	<div class="project-page-image" id="posty-home1"></div>
</div>
<div class="project-page">Attendence marked</div>
<div class="project-page-center">
	<div class="project-page-image" id="posty-home2"></div>
</div>
