<!DOCTYPE html>
<html lang="en">

<div class="project-page">lenses</div>
<div class="project-page-center">

	<div class="lens">
		<video class="snap-vid" autoplay muted loop src="/videos/lenss.mp4"></video>
		
	</div>
	<div class="lens">
		<video class="snap-vid" autoplay muted loop src="/videos/new.mp4"></video>
		
	</div>
	<div class="lens">
		<video class="snap-vid" autoplay muted loop src="/videos/halsey.MP4"></video>
		
	</div>

</div>