<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>

  {{> main}}

  <div class="about-intro">
    <div class="about-header">loves coding , practicing new stuff, and coffee</div>
    <div class="about-headshot"></div>
    <div class="about-des">
      Hey, I'm Anurag! I loves data structures and algorithms and web designing.</div>
    <div class="about-des">I'm graduating from Birla institute of technology, Mesra with a BTECH degree in Information technology.</div>
    <div class="about-whatido">what i do</div>
    <div class="about-what">Web Development (JavaScript, Node js,Express)</div>
    <div class="about-what">C++</div>
    <div class="about-what">Data structure and algorithms</div>
   </div>
  <div class="about-next">
    <div class="about-ready">ready to see what's next?</div>
    <a class="about-chat" href="/contact">let's chat</a>
  </div>

  {{> footer}}

</body>