<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>

<body>

  {{> main}}

  <div class="about-intro">
    <div class="about-header">Loves Coding , Practicing New Technology, and Books</div>
    <div class="about-headshot"></div>
    <div class="about-des">
      Hi, I am Anurag Gupta I am a graduate in Information Technology from Birla Institute of Technology, Mesra. I have done my schooling from Jammu with 98 percent in 12th and 94.4 percent in 10th. With GPA of 8.62 in college.I also have scored 99% in my JEE mains exams.I have developed a strong foundation in Data Structure and algorithm and Computer Science subjects like Operating Systems, DBMS, OOP and Computer Networks.</div>
    <div class="about-des">With keen interest in Data Structures and Algorithms, full-stack development, and AI/ML. I have worked on projects involving face recognition using OpenCV and deep learning, as well as Firebase authentication and services. Additionally, I have 1 year of experience working with Digifts Solutions, as a web developer.</div>
    <div class="about-whatido">what i do</div>
    <div class="about-what">MERN Stack Development (React.js, Mongodb, Node.js, EXpress.js)</div>
    <div class="about-what">C++,C</div>
    <div class="about-what">Data structure and algorithms</div>
    <div class="about-what">Dbms, OOP, Operating Systems</div>
    <div class="about-what">AI/ML (OpenCV, Deep learning, NNs)</div>
   </div>
  <div class="about-next">
    <div class="about-ready">ready to see what's next?</div>
    <a class="about-chat" href="/contact">let's chat</a>
  </div>

  {{> footer}}

</body>